/** Copyright 2018 Nakane, Ryuji
 **
 ** Licensed under the Apache License, Version 2.0 (the "License");
 ** you may not use this file except in compliance with the License.
 ** You may obtain a copy of the License at
 **      http://www.apache.org/licenses/LICENSE-2.0       
 ** Unless required by applicable law or agreed to in writing, software
 ** distributed under the License is distributed on an "AS IS" BASIS,
 ** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ** See the License for the specific language governing permissions and
 ** limitations under the License.
 **/

header, div#header {
  position: fixed !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #4E9ABE;
  color: #fff;
}
footer, div#footer {
  position: fixed !important;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #4E9ABE;
  color: #fff;
}
main, div#main {
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  height: auto;
}
header h1, div#header h1 {
  display: inline-block;
  float: left;
}

.rest-line {
  display: table;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: 10px;
}

tbody tr {
  padding: 2px 4px;
}

tbody tr:nth-child(even) {
  background-color: lightcyan;
}

a[href="#"] {
  color: inherit;
  text-decoration: inherit;
}

.button.submit {
  font-size: 110%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  line-height: 150%;
}

.button.disabled {
  color: gray;
  background-color: buttonhoverface;
  pointer-events: none;
}

.button {
  display: inline-block;
  position: relative;
  background-color: gainsboro;
  border-radius: 2px;
  color: black;
//  text-decoration: none;
  font-size: 90%;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 0 3px black;
}

.button:focus:not(.disabled) {
  outline: dotted thin;
  outline-offset: -2px;
}

.button:hover:not(.disabled) {
  background-color: whitesmoke;
}

.button:active:not(.disabled) {
  background-color: silver;
  box-shadow: 0 0 1px black;
}

.button [class^="fa"],
.button [class*=" fa"],
.button [class*="-fa "],
.button [class$="-fa"] {
  font-size: 110%;
}

[class^="fa"] [class^="fa"],
[class^="fa"] [class*=" fa"],
[class^="fa"] [class*="-fa "],
[class^="fa"] [class$="-fa"],
[class*=" fa"] [class^="fa"],
[class*=" fa"] [class*=" fa"],
[class*=" fa"] [class*="-fa "],
[class*=" fa"] [class$="-fa"],
[class*="-fa "] [class^="fa"],
[class*="-fa "] [class*=" fa"],
[class*="-fa "] [class*="-fa "],
[class*="-fa "] [class$="-fa"],
[class$="-fa"] [class^="fa"],
[class$="-fa"] [class*=" fa"],
[class$="-fa"] [class*="-fa "],
[class$="-fa"] [class$="-fa"] {
  font-size: 100%;
}

.tcell {
  min-width: 16em;
}

.full-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  -webkit-box-shadow: 0 0 50px rgba(169,169,169,0.4)
  -moz-box-shadow: 0 0 50px rgba(169,169,169,0.4)
  -ms-box-shadow: 0 0 50px rgba(169,169,169,0.4)
  box-shadow: 0 0 50px rgba(169,169,169,0.4)
}

.error {
  color: red;
  text-align: right;
}

.centerHV {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
